:root {
    /* Primary Colors */
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;
  
    /* Light Grey Colors */
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
  
    /* Dark Grey Colors */
    --color-grey-dark-1: #999;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #333;

    /*Shadows*/
    --shadow-extra-small:0 2rem 5rem rgba(0,0,0,.06);
    --shadow-large: 0 2rem 6rem rgba(0,0,0,.6);

    /*font sizes*/
    --font-size-extra-small:1rem;
    --font-size-small:1.25rem;
    --font-size-medium:1.4rem;
    --font-size-default:1.6rem;
    --font-size-large:1.8rem;
    --font-size-extra-large:2.2rem;
    
    --line:.1rem solid var(var(--color-grey-light-2));
  }
  