.navigation{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-grey-dark-3);
    flex:0 1 18%;
    &__legal{
        padding:2rem;
    }
    @media (max-width: $bp-large){
     &__legal{
        display: none;
     }
     flex-basis: auto;
    }
}
