.btn-inline{
    text-decoration: underline;
    text-underline-offset: .3rem;
    font-weight: 700;
    &:hover{
        color: var(--color-grey-dark-3);
    }
    &--animated:hover{
        animation: scaleUpAndDown .7s infinite ease-in-out;
    }
}