.nav-list{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    &__item{
        flex-grow: 1;
        padding: 1.5rem;
        padding-right: 3rem;
        position: relative;
    }
    &__item::before{
        content: '';
        height: 100%;
        width: 100%;
        display: block;
        background-color: var(--color-primary);
        position: absolute;
        top: 0;
        left: 0;
        width: .3rem;
        transform: scaleY(0);
        transition: transform .2s, width .3s cubic-bezier(1,0,0,1) .2s;
        z-index: 5, background-color .1s;
    }
    &__item:hover::before,
    &__item--active::before{
        width: 100%;
        transform: scaleY(1);
    }
    &__item:active::before{
        background-color: var(--color-primary-light);
    }
    &__link:visited, &__link:link{
        margin-left: 2rem;
        @include Xflex-start-center;
        color:var(--color-grey-light-1);
        gap: 2rem;
        position: relative;
        z-index: 10;
    }
    &__icon{
        height:2.7rem;
        aspect-ratio: 1;
        fill: currentColor;
    }
    &__label{
        text-transform: uppercase;
        font-size: var(--font-size-large);
    }

    @media (max-width: $bp-medium){
        flex-direction: row;
        margin-top: 0;
        &__item{
            @include Xflex-center-center;
        }
    }
    @media (max-width: $bp-small){
        &__label{
            display: none;
        }
    }
}