.overview{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: var(--line);
    &__heading{
        text-transform: uppercase;
        font-size: var(--font-size-extra-large);
        font-weight: 400;
        margin-right: 3rem;
        margin-left: 3.5rem;
    }   
    &__stars{
        display: flex;
        gap: .2rem;
        color: var(--color-primary);
    }
    &__star-icon{
        height: 2rem;
        aspect-ratio: 1;
        fill: currentColor;
    }

    &__location{
        color: var(--color-primary);
        margin-left: auto;
        margin-right: 3rem;
        display: flex;
        align-items: center;
    }
    &__location-icon{
        height: 2rem;
        aspect-ratio: 1;
        fill: currentColor;
        margin-right:.8rem;
    }
    &__rating{
        @include Yflex-center-center;
        background-color: var(--color-primary);
        color: #fff;
        padding: 1rem 2rem;
    }
    &__rating-average{
        font-size: var(--font-size-extra-large);
    }
    &__rating-count{
        font-size: var(--font-size-small);
        text-transform: uppercase;
    }
    @media (max-width: $bp-small){
        &{
            padding: 2rem 1rem;   
        }
        &__rating{
            display: none;
        }
    }
    @media (max-width:$bp-smallest){
        &{
            @include Xflex-between-center;
        }
        &__heading{
            margin: 0;
            font-size: var(--font-size-large);
        }
        &__location{
            margin: 0;
        }
    }
}