*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
li{
    text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
}
input{
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    @media (max-width: $bp-large){
        font-size: 50%;
    }
}
