
.detail{
    display: flex;
    padding: 4.5rem;
    gap: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}
.description{
    background: #fff;
    padding: 3rem 3rem 5rem;
    flex-basis: 60%;
    box-shadow: var(--shadow-extra-light);
    font-size: var(--font-size-medium);
    display: flex;
    flex-direction: column;
    &__paragraph:first-child{
        margin-bottom: 2rem;
    }
    &__list{
        margin: 3rem 0;
        padding: 4rem 0;
    }
}
.user-reviews{
    flex: 1;
    @include Yflex-center-center;
    gap: 2rem;
}
.cta{
    @include Yflex-center-center;
    gap: 2rem;
    padding: 2.8rem .5rem 4rem;
    &__book-now{
        font-size: var(--font-size-large);
        font-weight: 400;
        text-transform: uppercase;
    }
    &__btn{
        padding: 1.5rem 7rem;
    }

}